# Database
DATABASE_URL='postgresql://neondb_owner:npg_4P8EAlsoLhfS@ep-soft-dawn-a1wq7uma-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'

# JWT Secret (change this in production)
JWT_SECRET="3628f772deb0b07cf5ffcffa2f7aa894aa56b72d5c19938ea1c278d311c2fae4886aee21d035b4a33f3f6468ed344693aca4d672bf7c89fb011ce59f3dbd4291"

# Server Configuration
PORT=3000

# Frontend URL for CORS
FRONTEND_URL="http://localhost:5173" 